NET "rightButton" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "leftButton" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "startButton" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "outled" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;